/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Lists */

		ul.style1
		{
		}
			ul.style1 img
			{
				-ms-behavior: url('css/PIE.htc');
			}

			ul.style1 li a
			{
				color: inherit;
			}

	/* Buttons */
		
		.button
		{
			-ms-behavior: url('css/PIE.htc');
		}

			.button:hover
			{
				background: none;
				border-color: #fff;
			}

			.button-alt:hover
			{
				border-color: #444E59;
				background: #444E59;
			}

			.button-alt2:hover
			{
				border-color: #4b8dcc;
				background: #4b8dcc;
			}
	
	/* Forms */

		form
		{
		}

			form input[type=text],
			form input[type=password],
			form select,
			form textarea
			{
				-ms-behavior: url('css/PIE.htc');
			}
			
	/* Page Center Title */

		.title
		{
		}
		
			.title span
			{
				-ms-behavior: url('css/PIE.htc');
			}

	/* Pennant */

		.pennant
		{
			-ms-behavior: url('css/PIE.htc');
			border: solid 2px #fff;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#main-wrapper
	{
	}
	
		.homepage #main-wrapper:before
		{
			display: none;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron
	{
		-ms-behavior: url('css/PIE.htc');
	}

		.dropotron-level-0:before
		{
			display: none;
		}
	
		.dropotron a,
		.dropotron span
		{
			color: #aab4bb;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		color: #fff;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		color: #aab4bb;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main 
	{
		-ms-behavior: url('css/PIE.htc');
	}